<main class="concord" id="concord-cards" *ngFor="let uData of userData; let i = index">
    <header>
        <time>
            <h1>Administrador</h1>
            <h5 id="date"> {{today | date:'EEEE' }} {{today | date:'d' }} de  {{today | date:'MMMM' }}</h5>
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a href="/mostrarestadisticas"> <div class="btn btn-round color-1 material-design" ><p>Ver valoraciones </p></div></a>
    </header>

    <div class="container">
		<div class="row">
            <div class="col-12">
                <h2>Listado de usuarios</h2>
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead>
                      <tr>
                        <th class="th-sm">Nombre</th>
                        <th class="th-sm">Apellidos</th>
                        <th class="th-sm">Correo electrónico</th>
                        <th class="th-sm">Acción</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of usersData; let i = index">
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.email}}</td>
                        <td><button (click)="delU(user.userID)" class="concord delete-button">Borrar</button> / <button (click)="editU(user.userID)" class="concord">Editar</button></td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo electrónico</th>
                        <th>¿Borrar?</th>
                      </tr>
                    </tfoot>
                  </table>

                <!-- <h2>Listado de usuarios</h2>
                <div class="card x user-cards" data-color=""  *ngFor="let user of usersData; let i = index">
                    <input type="button" class="concord exit" value="×"/>
                    <section class="wrapper">
                    <header class="card-title">
                        <b>Nombre del usuario: {{user.firstName}} {{user.lastName}}</b><br>
                        <b>Correo electrónico: {{user.email}}</b>
                    </header>
                    
                    <footer class="card-footer">
                        <input type="button" (click)="editU(user.userID)" class="concord" value="Editar">
                        <input type="button" (click)="delU(user.userID)" class="concord delete-button" value="Borrar">
                    </footer>
                    </section>
                </div>-->
            </div>  
        </div>
    </div>
<div id="container-floating">
    <div class="nd5 nds" data-toggle="tooltip" data-placement="left" data-original-title="Simone"></div>
    <div class="nd4 nds" data-toggle="tooltip" data-placement="left" data-original-title="Cerrar sesión" (click)="cerrarSesion()"><img class="reminder">
      <a href="/registrosubscripcion"><p class="letter">C</p></a>
    </div>
    <div class="nd3 nds" routerLink="/" data-toggle="tooltip" data-placement="left" data-original-title="Modificar contraseña"><img class="reminder">
        <a href="/modifypass"><p class="letter">P</p></a>
      </div>
    <div class="nd1 nds" data-toggle="tooltip" data-placement="left" data-original-title="Editar perfil"><img class="reminder">
        <a href="/editarperfilroot"><p class="letter">E</p></a>
    </div>
    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Registrar subscripción">
        <a href="/registrosubscripcion"><p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"></a>
    </div>
</div>
</main>
<notifier-container></notifier-container>