<main class="concord" id="concord-cards" *ngFor="let uData of userData; let i = index">
    <header>
        <time>
            <h5 id="date"> {{today | date:'EEEE' }} {{today | date:'d' }} de  {{today | date:'MMMM' }}</h5>
            <h1>Administrador</h1>
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a href="/mostrarestadisticas"> <div class="btn btn-round color-1 material-design" ><p>Ver valoraciones </p></div></a>
    </header>

    <div class="container user-table">
        <div class="col-12">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    
    <div class="example-container mat-elevation-z8">
    
      <mat-table [dataSource]="dataSource" matSort>
    
        <ng-container matColumnDef="Nombre">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.firstName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Apellidos">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Apellidos</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.lastName}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Correo electrónico">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="Acción">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Acción</mat-header-cell>
          <mat-cell *matCellDef="let row"><button (click)="delU(row.userID)" class="concord delete-button">Borrar</button> / <button (click)="editU(row.userID)" class="concord edit-button">Editar</button></mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    </div>
    </div>
    

<div id="container-floating">
    <div class="nd1 nds" routerLink="/" data-toggle="tooltip" data-placement="left" data-original-title="Modificar contraseña"><img class="reminder">
        <a href="/modifypass"><p class="letter">P</p></a>
      </div>
    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Registrar subscripción">
        <a href="/editarperfilroot"><p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png"></a>
    </div>
</div>
</main>
<notifier-container></notifier-container>