<main class="concord" id="concord-cards" *ngFor="let uData of userData; let i = index">
    <header>
        <time>
            <h5 id="date"> {{today | date:'EEEE' }} {{today | date:'d' }} de  {{today | date:'MMMM' }}</h5>
            <h1 id="subscription-title">¡Valóranos! </h1> 
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a *ngIf="userType==1" href="/homepage"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
        <a *ngIf="userType==0" href="/homeadmin"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
        <a href="/news"> <div class="btn btn-round color-1 material-design" ><p>📰 Noticias </p></div></a>
        <a href="/estadisticas"> <div class="btn btn-round color-1 material-design" ><p>💰 Estadísticas </p></div></a>
       
    </header>

    <form class="formulario" action="" method="post" >    
        <div class="limitador">
            <div class="todo">
                <div class="caja">	
                    <form class="formulario" action="" method="post" >
     
                        
                        <div class="input" id="feedbackForm">
                            <fieldset class="rating">
                                <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                                <label title="Muy satisfecho" (click)='onClick(5)'>5 stars</label>
                                        
                                <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                                <label title="Satisfecho" (click)='onClick(4)'>4 stars</label>
                                        
                                <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                                <label title="Regular" (click)='onClick(3)'>3 stars</label>
                                        
                                <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                                <label title="Mal" (click)='onClick(2)'>2 stars</label>
                                        
                                <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                                <label title="Muy mal" (click)='onClick(1)'>1 star</label>
                            </fieldset>
                        </div>
                        <div id="errorsForm">
                            <span id="starsErr"></span>
                        </div>
                        <div class="text-area">
                            <textarea maxlength="255" placeholder="¿En que debemos de mejorar?" name="comment" id="comments" form="feedbackForm" [(ngModel)]="newFeedback.description"></textarea>
                        </div>
                        <div id="errorsForm">
                            <span id="commentErr"></span>
                        </div>
                        <div class="input">   
                            <div class="todo-form-btn ">
                                <button type="submit" (click)="addFeedback()" class="caja-titulo-btn">Enviar</button>
                            </div>
                        </div>

                        </form><br><br><br>
                    </div>
                </div>
            </div>
        </form>
</main>
<notifier-container></notifier-container>
<footer-color-tag></footer-color-tag>