textarea {
  overflow: auto;
  resize: vertical;
  width: 600px;

}
.rating {
  display:block;
  position:relative;

      text-align:center !important;

}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float: right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:95px;
    line-height:1.2;
    color:#ddd;
}
.txt2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
  text-decoration:none;
  display:block;
  font-weight: 600;
  cursor:pointer;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
}


.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
}

.caja {
    
    border-radius: 30px;

   /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
    width:640px;
    padding: 0px 40px 0px 40px;
  
  }

  .todo {
    width: 100%;  
    min-height: 100px;
    margin-top:160px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .titulo {
    font-family:rubik;
    font-size: 65px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    margin-top:25px;
    padding-bottom: 10px;
    font-weight: 600;
  }

  .todo-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    text-align:center;
    flex-wrap: wrap;
    
    padding-top: 20px;
    display:block;
  }

  .caja-titulo-btn {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    line-height: 1.5;
    color: #fff;
    width: 44%;
    height: 57px;
    border-radius:16px;
    background: #007aff;
      background-size: 400% 400%;
      -webkit-animation: Gradient 15s ease infinite;
      -moz-animation: Gradient 15s ease infinite;
      animation: Gradient 15s ease infinite;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10), 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    text-decoration: none;
    border: 0;
  }
  .caja-titulo-btn:hover {
    background: #3a98fd;
  }
  .text-area{
   display:block;
position:relative;

    text-align:center !important;
  }

