<main class="concord" id="concord-cards" *ngFor="let uData of userData; let i = index">
<header>
      <time>
            <h1 id="subscription-title">Estadísticas</h1> 
      </time>
      <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
      <a href="/feedback"> <div class="btn btn-round color-1 material-design" ><p> 💛 Valóranos </p></div></a>
      <a href="/news"> <div class="btn btn-round color-1 material-design" ><p>📰 Noticias </p></div></a>
      <a *ngIf="userType==1" href="/homepage"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
      <a *ngIf="userType==0" href="/homeadmin"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
</header>

<div class="container">
      <div class="row">
            <div class="col-12">
      <div class="todo" >
            <h3>Anual global subscripciones</h3>
            <canvas baseChart
                  [datasets]="barChartDataAnualAno"
                  [labels]="barChartLabelsAnualAno"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  [chartType]="barChartType"></canvas>
      </div>

  <div *ngIf="barChartLabelsMensual != ''" class="todo" >
    <h3>Subscripciones mensuales</h3>
    <canvas baseChart
          [datasets]="barChartDataMensual"
          [labels]="barChartLabelsMensual"
          [options]="barChartOptions"
          [legend]="barChartLegend"
          [chartType]="barChartType"></canvas>
  </div>

  <div *ngIf="barChartLabelsTrimestral != ''" class="todo" >
      <h3>Subscripciones Trimestrales</h3>
      <canvas baseChart
            [datasets]="barChartDataTrimestral"
            [labels]="barChartLabelsTrimestral"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>

  <div *ngIf="barChartLabelsSemestral != ''" class="todo" >
      <h3>Subscripciones Semestrales</h3>
      <canvas baseChart
            [datasets]="barChartDataSemestral"
            [labels]="barChartLabelsSemestral"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>

  <div *ngIf="barChartLabelsAnual != ''" class="todo" >
      <h3>Subscripciones Anuales</h3>
      <canvas baseChart
            [datasets]="barChartDataAnual"
            [labels]="barChartLabelsAnual"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>

  <div *ngIf="barChartLabelsBianual != ''" class="todo" >
      <h3>Subscripciones Bianuales</h3>
      <canvas baseChart
            [datasets]="barChartDataBianual"
            [labels]="barChartLabelsBianual"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"></canvas>
  </div>
</div>
</div>
</div>
</main>
<notifier-container></notifier-container>