<title>Iniciar Sesión</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<form class="formulario" action="" method="post" >    
   
    <div class="limitador">
        <div class="todo">
            <div class="caja">	
                <form class="formulario" action="" method="post" >
                    <span class="titulo">AOM</span> 
                    <span class="sub-titulo">Subscription Manager</span>
                    <span class="sub-titulo"></span>
                    <div class="input" >
                        <input class="caja-input" type="text" id="email" name="email" autocomplete="new-password" placeholder="Correo electrónico" [(ngModel)]="user1.email" required>
                        <span class="icono">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <input class="caja-input" type="password" id="password" name="password" autocomplete="new-password" placeholder="Contraseña" [(ngModel)]="user1.pass" required>						
                        <span class="icono">
                            <i class="fas fa-lock-open"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <div class="todo-form-btn">
                            <button type="submit" class="caja-titulo-btn" (click)="login()">Entrar</button>
                            
                        </div>
                        <div class="todo-form-btn">
                          <button type="submit" class="caja-titulo-btn2"  (click)="signInWithGoogle()"><i class="fab fa-google"></i> Acceder con Google</button>
                        </div>
                    </div>
                    <button class="button button--primary" (click)="showNotification( 'default', 'Good evening, you lovely person!' )">
                      Default me!
                    </button>
                    <div class="text-center">
                        <a class="txt2" routerLink="/registro" routerLinkActive="cssSiLinActiu"><i class="fas fa-user-plus"></i> Registrate ahora </a>
                      <!--  <a class="txt2" routerLink="/editarsubscripcion" routerLinkActive="cssSiLinActiu"> Editar subscripcion <i class="fas fa-arrow-right"></i></a>
                        <a class="txt2" routerLink="/editarperfil" routerLinkActive="cssSiLinActiu"> Editar perfil <i class="fas fa-arrow-right"></i></a>
                        <a class="txt2" routerLink="/registrosubscripcion" routerLinkActive="cssSiLinActiu"> Añadir subscripcion <i class="fas fa-arrow-right"></i></a>
                        <a class="txt2" routerLink="/homepage" routerLinkActive="cssSiLinActiu">Home<i class="fas fa-arrow-right"></i></a>-->
                    </div>
                      <div id="name"></div>
                </form>
             <!--    <div class=" bg-transparent text-center">
                  <div *ngIf="!user" class=" text-center">
                    <div class="card-block">
                      <h4 class="card-title">Entrar con Google</h4>
                      <p class="card-text">Entrar:</p>
                    </div>
                    <div class="card-block">
                      <button class="btn btn-social-icon btn-google mx-1" (click)="signInWithGoogle()"><span class="fa fa-google"></span></button>
                
                    </div>
                  </div>
                   <div *ngIf="user" class="card text-center">
                   <div class="card-block"></div>
                    <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
                    <div class="card-block">
                      <h4 class="card-title">{{ user.name }}</h4>
                      <p class="card-text">{{ user.email }}</p>
                    </div>
                    <div class="card-block">
                      <button class="btn btn-danger" (click)="signOut()">Cerrar Sesión</button>
                    </div>
                  </div>
                </div> -->