<title>Iniciar Sesión</title>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<form class="formulario" action="" method="post" >    
    <div class="limitador">
        <div class="todo">
            <div class="caja">	
                <form class="formulario" action="" method="post" >
                    <span class="titulo">AOM</span> 
                    <span class="sub-titulo">Versión 0.1</span>
                    <span class="sub-titulo"></span>
                    <div class="input" >
                        <input class="caja-input" type="text" id="email" name="email" autocomplete="new-password" placeholder="Email"  required>
                        <span class="icono">
                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <input class="caja-input" type="password" id="password" name="password" autocomplete="new-password" placeholder="Contraseña" required>						
                        <span class="icono">
                            <i class="fas fa-lock-open"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <div class="todo-form-btn">
                            <button type="submit" class="caja-titulo-btn">
                                ENTRAR
                            </button>
                        </div><br>
                    </div>
                    <div class="text-center">
                        <a class="txt5" href="recuperar-password/">
                            Recuperar contraseña  <i class="fa fa-key" aria-hidden="true"></i>
                        </a><br>
                        <a class="txt4"  [routerLink]="['/registro']"  routerLinkActive="cssSiLinActiu">
                            Registro <i class="fas fa-user-plus"></i>
                        </a><br><br>
                    </div>
                </form>
                <footer-color-tag></footer-color-tag>