<main class="concord" id="concord-cards" *ngIf="userType==0">
    <header>
        <time>
            <h1 id="subscription-title">Valoraciones de los usuarios</h1> 
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a *ngIf="userType==1" href="/homepage"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
        <a *ngIf="userType==0" href="/homeadmin"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
    </header>

    <div class="container estadisticas">
            <div class="col-12">
        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
          </mat-form-field>
        </div>
        
        <div class="example-container mat-elevation-z8">
        
          <mat-table [dataSource]="dataSource" matSort>
        
            <ng-container matColumnDef="Usuario">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.userID}} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Puntuación">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Puntuación</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.vote}} - 
                    <span *ngIf="row.vote == 0">No valorado</span>    
                    <span *ngIf="row.vote == 1">Muy mal</span>
                    <span *ngIf="row.vote == 2">Mal</span>
                    <span *ngIf="row.vote == 3">Regular</span>
                    <span *ngIf="row.vote == 4">Satisfecho</span>
                    <span *ngIf="row.vote == 5">Muy satisfecho</span> 
              </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="Comentarios">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Comentarios</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">
            </mat-row>
          </mat-table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
        </div>
        </div>
</main>
<notifier-container></notifier-container>