<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<main class="concord">
    <header>
        <time>
            <h1 id="subscription-title">Cambiar contraseña</h1> 
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a href="/feedback"> <div class="btn btn-round color-1 material-design" ><p> 💛 Valóranos </p></div></a>
        <a href="/news"> <div class="btn btn-round color-1 material-design" ><p>📰 Noticias </p></div></a>
        <a href="/estadisticas"> <div class="btn btn-round color-1 material-design" ><p>💰 Estadísticas </p></div></a>
        <a *ngIf="userType==1" href="/homepage"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
        <a *ngIf="userType==0" href="/homeadmin"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
    </header>
    <div class="limitador">
        <div class="todo">
            <div class="caja">	
                <form class="formulario" action="" method="post" >
                    <span class="sub-titulo"></span>
                    <span class="sub-titulo"></span>
                    <div class="input" >
                        <input class="caja-input" type="password" id="old-pass" name="old-pass" autocomplete="new-password" placeholder="Contraseña actual" [(ngModel)]="pass.oldpass" required>
                        <span class="icono">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <input class="caja-input" type="password" id="pass1" name="pass1" autocomplete="new-password" placeholder="Nueva contraseña" [(ngModel)]="pass.newpass" required>
                        <span class="icono">
                            <i class="fa fa-key" aria-hidden="true"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <input class="caja-input" type="password" id="pass2" name="pass2" autocomplete="new-password" placeholder="Repetir contraseña" [(ngModel)]="pass.newpass1" required>						
                        <span class="icono">
                            <i class="fas fa-key"></i>
                        </span>
                    </div>
                    <div class="input" >
                        <div class="todo-form-btn">
                            <button type="submit" class="caja-titulo-btn" (click)="changePassword()">Editar</button>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
</main>
<notifier-container></notifier-container>
<footer-color-tag></footer-color-tag>