<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<form class="formulario" action="" method="post" >    
  <div class="limitador">
      <div class="todo">
          <div class="caja">	
              <form class="formulario" action="" method="post" >
                  <span class="titulo">Editar Suscripción</span> 
                  <span class="sub-titulo"></span>
                  <span class="sub-titulo"></span>
                  <div class="input" >
                      <input class="caja-input" type="text" id="subscriptionName" name="subscriptionName" autocomplete="new-password" placeholder="Nombre" value="{{editSubscription.subscriptionName}}" required>
                      <span class="icono">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                      </span>
                  </div>
                  <div class="input" >
                      <input class="caja-input" type="text" id="description" name="description" autocomplete="new-password" placeholder="Descripción" value="{{editSubscription.description}}" required>						
                      <span class="icono">
                          <i class="fas fa-font"></i>
                      </span>
                  </div>
                  <div class="input" >
                      <input class="caja-input" type="number" id="cycle" name="cycle" autocomplete="new-password" placeholder="Ciclo de pago" value="{{editSubscription.cycle}}" required>
                      <span class="icono">
                          <i class="fa fa-clock" aria-hidden="true"></i>
                      </span>
                  </div>
                  <div class="input" >
                      <input class="caja-input" type="date" id="first-bill" name="first-bill" autocomplete="new-password" placeholder="Primera factura" value="{{editSubscription.firstBill}}" required>
                      <span class="icono">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                      </span>
                  </div>
                  <div class="input" >
                      <input class="caja-input" type="number" id="remainMe" name="remainMe" autocomplete="new-password" placeholder="Notificacion de recordatorio" value="{{editSubscription.remainMe}}" required>						
                      <span class="icono">
                          <i class="fa fa-bell"></i>
                      </span>
                  </div>
                
                  <div class="input" >
                      <input class="caja-input" type="number" id="price" name="price" autocomplete="new-password" placeholder="Coste" value="{{editSubscription.price}}" required>						
                      <span class="icono">
                          <i class="fas fa-dollar-sign"></i>
                      </span>
                  </div>
                  <div class="input" >
                      <div class="todo-form-btn">
                          <button type="submit" class="caja-titulo-btn">
                              Editar
                          </button>
                      </div><br>
                      <div class="text-center">
                          <a class="txt2" routerLink="/" routerLinkActive="cssSiLinActiu"> <i class="fas fa-arrow-left"></i> Volver a inicio</a>
                      </div>
                  </div>
                  <footer-color-tag></footer-color-tag>