<main class="concord" id="concord-cards" *ngFor="let uData of userData; let i = index">
    <header>
        <time>
            <h1 id="subscription-title">Editar subscripción </h1> 
        </time>
        <button class="btn btn-round color-2 material-design" (click)="cerrarSesion()" >Cerrar Sesión </button>
        <a href="/feedback"> <div class="btn btn-round color-1 material-design" ><p> 💛 Valóranos </p></div></a>
        <a href="/news"> <div class="btn btn-round color-1 material-design" ><p>📰 Noticias </p></div></a>
        <a href="/estadisticas"> <div class="btn btn-round color-1 material-design" ><p>💰 Estadísticas </p></div></a>
        <a *ngIf="userType==1" href="/homepage"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
        <a *ngIf="userType==0" href="/homeadmin"> <div class="btn btn-round color-1 material-design" ><p>Volver a inicio </p></div></a>
    </header>

<form class="formulario" action="" method="post" >    
  <div class="limitador">
      <div class="todo">
          <div class="caja">	
              <form class="formulario" action="" method="post" >
                    <span class="titulo">Editar Suscripción</span> 
                    <span class="sub-titulo"></span>
                    <span class="sub-titulo"></span>
                  
                    <div class="input" >
                      <input style="text-transform: capitalize;" class="caja-input" type="text" id="subscriptionName" name="subscriptionName" [(ngModel)]="editSubscription.subscriptionName" autocomplete="new-password" placeholder="Nombre" value="{{editSubscription.subscriptionName}}" required readonly>
                      <span class="icono">
                          <i class="fa fa-user-circle" aria-hidden="true"></i>
                      </span>
                    </div>
                  
                    <div class="input" >
                      <input class="caja-input" type="text" id="description" name="description" [(ngModel)]="editSubscription.description" autocomplete="new-password" placeholder="Descripción" value="{{editSubscription.description}}" required>						
                      <span class="icono">
                          <i class="fas fa-map-marker-alt"></i>
                      </span>
                    </div>
                  
                    <div class="input" >
                        <select class="caja-input" id="cycle" name="cycle" [(ngModel)]="editSubscription.cycle" required>
                            <option value="" disabled selected>Seleccione el ciclo de pago</option>
                            <option value="1">Mensual</option>
                            <option value="3">Trimestral</option>
                            <option value="6">Semestral</option>
                            <option value="12">Anual</option>
                            <option value="24">Bianual</option>
                        </select>
                        <span class="icono">
                            <i class="fa fa-clock" aria-hidden="true"></i>
                        </span> 
                    </div>

                    <div class="input" >
                        <input class="caja-input" type="date" id="first-bill" name="first-bill" [(ngModel)]="editSubscription.firstBill" autocomplete="new-password" placeholder="Primera factura" value="{{editSubscription.firstBill}}" required>
                        <span class="icono">
                            <i class="fa fa-calendar-alt" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="input" >
                        <select class="caja-input" id="remainMe" name="remainMe" [(ngModel)]="editSubscription.remainMe" required>
                            <option value="" disabled selected>Seleccione el aviso de renovación</option>
                            <option value="1">Un dia antes</option>
                            <option value="2">Dos días antes</option>
                            <option value="5">Cinco días antes</option>
                            <option value="7">Una semana antes</option>
                            <option value="15">Dos semanas antes</option>
                        </select>

                        <span class="icono">
                                <i class="fas fa-bell"></i>
                        </span>

                    </div>
                
                    <div class="input" >
                        <input class="caja-input" type="number" id="price" name="price" [(ngModel)]="editSubscription.price" autocomplete="new-password" placeholder="Coste" value="{{editSubscription.price}}" required>						
                        <span class="icono">
                            <i class="fas fa-euro-sign"></i>
                        </span>
                    </div>

                    <div class="input" >
                        <div class="todo-form-btn">
                            <button type="submit" (click)="modifySubscription()" class="caja-titulo-btn">Editar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
</main>
<notifier-container></notifier-container>
<footer-color-tag></footer-color-tag>