<title>Registro</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<!DOCTYPE html>
<html lang="es">
<head>
	<title>PhotoAcció</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
<link rel="icon" type="image/png" href="../imagenes/blue-camera.png"/>
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<!--===============================================================================================-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/style.css">
<!--===============================================================================================-->
</head>
<body>
<div class="container h-100">
    <div class="row align-items-center h-100">
        <div class="col-6 mx-auto">
            <div class="jumbotron" style="border-radius:16px;">
				<form  method="post" action="">
				<h1 class="text-center">Registra't</h1> <br>
					<div class="form-group">
						<input class="form-control" type="text" id="nom" name="nom" placeholder="Nom"  required>
					</div>
					<div class="form-group">
						<input class="form-control" type="text" id="cognoms" name="cognoms" placeholder="Cognoms" required>						
						<span class="icono">
					</div>
					<div class="form-group">
						<input class="form-control" type="email" id="email" name="email" placeholder="Correu Electrònic" autocomplete="new-password" required>						
					</div>
					<div class="form-group">
						<input class="form-control" type="number" id="telefon" name="telefon" placeholder="Telèfon de contacte" required>	
					</div>
					<div class="form-group"> 
                    <select name="ciudad" class="form-control" id="ciudad" required>
					<option value="" disabled selected>Selecciona Població</option>
						<?php
							include "../php/bbdd.php";
                            $Alava = selectCiudades("Alava");
                            while ($fila2 = mysqli_fetch_assoc($Alava)) { ?>
                                <option value="<?php echo $fila2["id_Ciudad"]; ?>">
                                <?php echo utf8_encode($fila2["nombre"]); ?>
                                </option><?php }?>
					</select>
					</div>
					<div class="form-group">
						<input class="form-control" type="password" id="pass1" name="pass1" placeholder="Contrasenya" autocomplete="new-password" required>						
					</div>
					<div class="form-group">
						<input class="form-control" type="password" id="pass2" name="pass2" placeholder="Repeteix la Contrasenya" autocomplete="new-password" required>						
					</div>
					<div class="input" style="border-radius: 30px;" >
					<input type='hidden' value='0' name="infantil">
						<input type="checkbox" id="check" value='1' name="infantil" /> 
							<label for="check" > 
							<span><!-- This span is needed to create the "checkbox" element --></span>Participació Infantil 🎈 
						</label>
					</div>
						<input type="checkbox" id="check" name="condicions" required/> 
							<label for="check2" > 
							Confirmes <b>haber llegit</b> i <b>acceptar</b> les <a href="../condicions/" class="control2" target="_blank">condicions d'ús.</a>
						</label>
                <footer-color-tag></footer-color-tag>